# ===== FLUTTER =====
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# ===== IDE =====
.idea/
*.iml
.vscode/

# ===== LOGS =====
*.log
.DS_Store

# ===== ANDROID =====
android/.gradle/
android/local.properties
android/app/build/

# ===== IOS =====
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec