# Flutter/Dart
.dart_tool/
.packages
.build/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android build
android/app/build/
android/.gradle/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Windows build
windows/build/

# macOS build
macos/build/

# Linux build
linux/build/

# Node (если есть)
node_modules/

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log